body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.wrapper {
    flex: 1;
    display: flex;
}

.side-bar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    min-width: 200px;
    transition: all 0.3s;
}

.side-bar ul {
    list-style: none;
    padding: 0;
}

.side-bar li {
    margin-bottom: 10px;
}

.side-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.side-bar a:hover {
    background-color: #555;
}

.side-bar.closed {
    margin-left: -200px;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .side-bar {
        min-width: 10%;
        font-size: 14px;
    }

    .side-bar.closed {
        margin-left: 0;
    }

    .col-9 {
        padding: 14px;
    }

    table {
        font-size: 12px;
        overflow-x: auto;
        display: block;
        max-width: 100%;
    }

    .pagination {
        margin-top: 10px;
        overflow-x: auto;
    }

    .pagination a {
        padding: 6px 12px;
        margin: 0 2px;
    }

    .pagination .active {
        font-weight: bold;
    }
}

.col-9 {
    flex: 1;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

th {
    background-color: #333;
    color: #fff;
    padding: 12px;
    text-align: center;
}

td {
    padding: 12px;
    text-align: center;
}

tfoot {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#data-warga {
    padding: 20px;
}

#data-warga table {
    margin-top: 20px;
}

#data-warga th, #data-warga td {
    border: 1px solid #ccc;
    padding: 12px;
}

#data-warga th {
    background-color: #333;
    color: #fff;
}

#data-warga tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#data-warga tbody tr:hover {
    background-color: #ddd;
}

#transaksi-iuran {
    padding: 20px;
}

#transaksi-iuran table {
    margin-top: 20px;
}

#transaksi-iuran th, #transaksi-iuran td {
    border: 1px solid #ccc;
    padding: 12px;
}

#transaksi-iuran th {
    background-color: #333;
    color: #fff;
}

#transaksi-iuran tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#transaksi-iuran tbody tr:hover {
    background-color: #ddd;
}

#laporan-transaksi {
    padding: 20px;
}

#laporan-transaksi table {
    margin-top: 20px;
}

#laporan-transaksi th, #laporan-transaksi td {
    border: 1px solid #ccc;
    padding: 12px;
}

#laporan-transaksi th {
    background-color: #333;
    color: #fff;
}

#laporan-transaksi tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#laporan-transaksi tbody tr:hover {
    background-color: #ddd;
}

#belum-bayar {
    padding: 20px;
}

#belum-bayar table {
    margin-top: 20px;
}

#belum-bayar th, #belum-bayar td {
    border: 1px solid #ccc;
    padding: 12px;
}

#belum-bayar th {
    background-color: #333;
    color: #fff;
}

#belum-bayar tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#belum-bayar tbody tr:hover {
    background-color: #ddd;
}

#jumlah-kas {
    padding: 20px;
}

#jumlah-kas table {
    margin-top: 20px;
}

#jumlah-kas th, #jumlah-kas td {
    border: 1px solid #ccc;
    padding: 12px;
}

#jumlah-kas th {
    background-color: #333;
    color: #fff;
}

#jumlah-kas tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#jumlah-kas tbody tr:hover {
    background-color: #ddd;
}

.total-semua-kas {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: right;
    padding: 5px;
}

.text-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.text-input input[type="text"] {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: #007bff;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #007bff;
    margin: 0 4px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
    pointer-events: none;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #555;
}

.welcome-message img {
    width: 5px; /* Sesuaikan ukuran gambar */
    height: 5px;
    margin-right: 5px;
    border-radius: 5%;
    transition: transform 0.5s ease-in-out;
}

.welcome-message:hover img {
    transform: rotate(360deg);
}

#dashboard {
    text-align: left;
}

.greeting {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.dashboard-info {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}

canvas {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
